/* Global */

$color-main: #ffa502;
$color-light: #ffffff;
$font-header: 'Francois One', sans-serif;
$font-text: 'Caladea', sans-serif;
$font-logo: 'Great Vibes', cursive;

/**, *::before, *::after {
  box-sizing: border-box;
}*/

.btn-home {
  background-color: rgb(255, 217, 0);
  color: $color-light;
  font-family: $font-text;
  font-weight: 700;
  display: inline-block;
  min-width: 200px;
  margin: 0 auto 0 auto;
  padding: 16px;
  border-radius: 2px;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  position: bottom;
  align-self: flex-start;
}

.section-title {
  margin: auto auto 8px auto;
  font-family: $font-header;
  font-size: 36px;
  letter-spacing: 2px;
}
.section-subtitle {
  font-family: $font-text;
  font-size: 14px;
  font-style: italic;
  color: rgb(80, 79, 79);
}

.icon-background {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: black;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: center;
  .icon-white{
    margin: 10px 0 0 0;
  }
}

.icon-backgroundwhite {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: $color-light;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: center;
}


/* Home */

.home {
  padding: 0 0 48px 0;
  position: relative;
  z-index: 2;
  height: 500px;
  max-height: 500px;
  background-image: url('/images/Background_Image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
  background-size: cover;
  z-index: 0;
}

.logo {
  font-family: $font-logo;
  font-size: 26px;
  margin: 20px auto 20px 100px;
  color: gold;
  right: 50px;
  }

.menu {
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.menu-buttons {
  list-style-type: none;
  a {
    margin: auto 0.5vw auto 0.5vw;
    color: $color-light;
    font-family: $font-header;
    font-size: 15px;
  }
}

.inner-home {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  max-height: 400px;
  
  .inner-home-header {
    margin: 110px auto auto auto;
    color: $color-light;
    font-family: $font-text;
    font-style: italic;
    font-size: 40px;
  }
  .inner-home-subheader{
    margin: 10px auto;
    color: $color-light;
    font-family: $font-header;
    flex-wrap: nowrap;
    align-self: flex-start;
    font-size: 50px;
  }
}

/* Services*/

.services {
  padding: 48px 0 48px 0;
  .services-header {
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .services-cards {
    padding: 0 60px 0 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      margin: auto auto 16px auto;
      .font-border {
        text-decoration: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid 3px gold;
        display: flex;
        justify-content: center;
        align-content: center;
        i {
          color: gold;
          font-size: 32px;
        }
      }
      .service-name {
        font-size: 16px;
        font-weight: 700;
      }
      .service-description {
        font-size: 11px;
        color: rgb(80, 79, 79);
        line-height: 1.2;
        text-align: center;
      }
    }
  }
}

/* Portfolio */

.portfolio {
  padding: 48px 0 48px 0;
  background-color: rgb(240, 240, 240);
}

.portfolio-header {
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.portfolio-cards {
  padding: 0 0 40px 0;
  display: flex;
  align-items: center;
  justify-items: center;
  .portfolio-card .container {
    height: 500px;
    background: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    img {
      width: 350px;
      height: 400px;
      margin: 0 0 10px 0;
    }
  }
}

.portfolio-name-box {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .portfolio-name {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  .subtitle{
    font-size: 15px;
    color: rgb(80, 79, 79);
    line-height: 1.2;
    text-align: center;
    margin: 3;
    font-style: italic;
  }
 }




/* Footer */

.footer-icons {
  display: flex;
  justify-content: flex-start;
}

.twitter {
  background: #1DA1F2;
  color: $color-light;
  font-size: 22px;
}

.twitter:hover {
  background: blue;
}

.facebook {
  background: #4267b2;
  color: $color-light;
  font-size: 22px;
}

.facebook:hover {
  background: blue;
}

.pinterest {
  color:#c8232c;
  font-size: 40px;
}

.pinterest:hover {
  background: red;
}

.google {
  color: #db4a39;
  font-size: 40px;
}

.google:hover {
  color: red;
}


@media (min-width: 1500px) {
  .inner-home {
    .inner-home-header {
      font-size: 2.5vw;
    }
    .inner-home-subheader{
      font-size: 4.5vw;
    }
  }
}

@media (min-width: 2300px) {
  .inner-home {
    .inner-home-header {
      font-size: 2vw;
    }
    .inner-home-subheader{
      font-size: 3.5vw;
    }
  }
}
